In [10]:
import pandas as pd
df = pd.read_csv('Dataset/Tamil Nadu/Metrological Data/Coimbatore.csv', skiprows=3)
df.head(10)

,time,temperature_2m (°C),relative_humidity_2m (%),rain (mm),surface_pressure (hPa),wind_speed_10m (km/h),wind_speed_100m (km/h),wind_direction_100m (°),wind_direction_10m (°)
0,2024-01-01T00:00,20.1,86,0.0,966.0,5.6,14.0,55,50
1,2024-01-01T01:00,20.3,90,0.0,966.8,8.9,16.7,53,40
2,2024-01-01T02:00,20.9,89,0.0,967.8,11.0,15.8,66,58
3,2024-01-01T03:00,22.2,82,0.0,968.6,12.5,16.7,57,57
4,2024-01-01T04:00,23.6,74,0.0,969.2,12.0,15.5,46,46
5,2024-01-01T05:00,24.6,69,0.0,968.8,11.5,14.9,58,58
6,2024-01-01T06:00,25.9,63,0.0,968.0,11.5,14.6,70,70
7,2024-01-01T07:00,26.8,60,0.0,967.0,10.7,13.8,70,70
8,2024-01-01T08:00,27.7,57,0.0,965.6,11.2,14.2,69,69
9,2024-01-01T09:00,28.0,54,0.0,964.7,10.9,13.8,75,73

In [11]:
df.shape

(8784, 9)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   time                      8784 non-null   object
 1   temperature_2m (°C)       8784 non-null   float64
 2   relative_humidity_2m (%)  8784 non-null   int64
 3   rain (mm)                 8784 non-null   float64
 4   surface_pressure (hPa)    8784 non-null   float64
 5   wind_speed_10m (km/h)     8784 non-null   float64
 6   wind_speed_100m (km/h)    8784 non-null   float64
 7   wind_direction_100m (°)   8784 non-null   int64
 8   wind_direction_10m (°)    8784 non-null   int64
dtypes: float64(5), int64(3), object(1)
memory usage: 617.8+ KB